RewriteEngine on
RewriteRule ^login?$ auth/redirect.php [L]
RewriteRule ^logout?$ auth/clearsessions.php [L]
RewriteRule ^upload?$ index.php?id=upload [L]
RewriteRule ^configure?$ index.php?id=configure [L]
RewriteRule ^home?$ index.php?id=home [L]
RewriteRule ^stream?$ index.php?id=stream [L]
RewriteRule ^friends?$ index.php?id=draugi [L]
RewriteRule ^calendar?$ index.php?id=dienas [L]
RewriteRule ^map?$ index.php?id=karte [L]
RewriteRule ^top?$ index.php?id=tops [L]
RewriteRule ^stats?$ index.php?id=stat [L]
RewriteRule ^kill?$ index.php?id=stat&kill=kill [L]
RewriteRule ^tags?$ index.php?id=tags [L]
RewriteRule ^users?$ index.php?id=users [L]
RewriteRule ^links?$ index.php?id=links [L]
RewriteRule ^emoticons?$ index.php?id=emo [L]
RewriteRule ^draugs/([^/\.]+)/?$ index.php?id=draugs&dra=$1 [L]
RewriteRule ^vards/([^/\.]+)/?$ index.php?id=vards&vards=$1 [L]
RewriteRule ^vieta/([^/\.]+)/?$ index.php?id=vieta&vieta=$1 [L]
RewriteRule ^grupa/([^/\.]+)/?$ index.php?id=grupa&grupa=$1 [L]
RewriteRule ^tag/([^/\.]+)/?$ index.php?id=tag&vards=$1 [L]
RewriteRule ^user/([^/\.]+)/?$ index.php?id=user&vards=$1 [L]
RewriteRule ^link/([^/\.]+)/?$ index.php?id=link&vards=$1 [L]